<html>
    <header></header>
    <body>
        <table>
            <tr>
                <td>
                    Contacto rápido de <b>{{nombre}}</b>
                </td>
            </tr>
            <tr>
                <td>
                    Email de respuesta <b>{{correo}}</b>
                </td>
            </tr>
            <tr>
                <td>
                    Mensaje:
                </td>
            </tr>
            <tr>
                <td>
                    {{mensaje}}
                </td>
            </tr>
        </table>
    </body>
</html>