//Variables propias htmlDreamBuilder.com
// Variables

//Fondos


//Colores
$azulCorporativo: #003e67;
$verdeCorporativo: #abd000; 

//Sombras
$sombra: 0px 0px 5px #333333;
$sombraTextoBlanca: 0px 0px 5px #FFFFFF;
$sombraBoton: 0px 0px 2px #333333;