{# página autogestionables #}
<section class="row aire">
    <article class="small-12 columns text-center">

        <h2 class="serif sombraTexto">Creamos tu página profesional y autogestionable</small></h2>
        <h3 class="serif sombraTexto">¿Quieres ir un paso más allá, y añadir funciones específicas para tu negocio?</h3>
        <h4 class="serif sombraTexto">Utilizamos el gestor de contenidos que mejor se adapte a tus necesidades</h4>

        <div class="large-4 columns">
            <h2>Wordpress</h2>
            <p>Wordpress es la opción más eficiente a la 
                hora de montar un blog. Su panel de control 100% responsive te permitirá 
                gestionar tus entradas desde cualquier lugar. A demás, dispone de más de 30.000 
                plugins que amplian sus funcionalidades a un nivel extraordinario.</p>
            <a class="button small radius">Más información</a>
        </div>
        <div class="large-4 columns">
            <h2>Joomla</h2>
            <p>El 4x4 de los gestores de contenido, permite 
                un amplio abanico de posibilidades a la hora de crear páginas corporativas. Del
                mismo modo que wordpress, podremos gestionar de forma sencilla nuestra web en un
                panel de control completo.</p>
            <a class="button small radius">Más información</a>
        </div>
        <div class="large-4 columns">
            <h2>Prestashop</h2>
            <p>Mucho más potente que los dos anteriores, 
                pero muy especializado, Prestashop es un potente gestor de tiendas online con el que
                gestionarás productos, pasarelas de pago, clientes, proveedores y mucho, mucho más.</p>
            <a class="button small radius">Más información</a>
        </div>
    </article>

</section>
{# Fin página autogestionables #}