<!-- Cabecera -->
<div class="fondoOscuro">
    <section class="row" id="alerta">
        <article class="small-12 columns">
            <a href="{{path('hdb_inicio')}}" title="Ir a la página inicial">
                <img src="{{asset('img/logoInvertidoSombra.png')}}" alt="Logo">
            </a>
        </article>
    </section>
</div>
<!-- Fin cabecera -->