<!-- Pie -->
<div class="fondoOscuro">
    <section class="row aire">
        <article class="small-12 columns">
            <ul class="no-bullet 2">
                <li>info@htmldreambuilder.com</li>
                <li>
                    <a 
                        href="tel:615 091 386" 
                        class="button tiny radius"
                        title="Llámanos">
                        615 091 386
                    </a>
                    - Whatsapp - Line</li>
                <li class="">Te atendemos personalmente</li>
            </ul>
        </article>
        <article class="small-12 columns text-center">
            <p class="">
                <a href="{{path('hdb_inicio')}}" title="">www.htmldreambuilder.com</a> &copy; Copyright 2014 | 
                Desarrollado por <img src="{{asset('img/logoInvertido.png')}}" width="150px"> con 
                <a href="http://symfony.com/" title="Ir a la página oficial de Symfony2" target="_blank">Symfony2</a> {#| <a href="#" title"Aviso legal">Aviso legal</a>#}</p>
        </article>
    </section>
</div>
<!-- Fin pie -->
