<!-- Slider -->
<section class="row aireTop">
    <article class="small-12 columns text-center">
        <ul class="example-orbit-content" data-orbit>
            <li>
                <div>          
                    <h2 class=" sombraTexto">Creamos tu página profesional y autogestionable</small></h3>
{#                        <a class="button small radius">Más información</a>#}
                        <p class="">Si tienes un sueño<br class="show-for-small-only"> nosotros lo hacemos realidad</p>
                </div>
            </li>
            <li>
                <div>
                    <h2 class=" sombraTexto">Desarrollos a medida<br>Aplicaciones web</h2>
{#                    <a class="button small radius">Más información</a>#}
                    <p class="">La gestión de tu negocio<br class="show-for-small-only"> en la palma de tu mano</p>
                </div>
            </li>
            <li>
                <div>
                    <h2 class=" sombraTexto">Difusión social, SEO, Linkbuilding, SEM...</h2>
{#                    <a class="button small radius">Más información</a>#}
                    <p class="">Aumento de visitas = aumento de ventas</p>
                </div>
            </li>
        </ul>
    </article>
</section>
<!-- Fin slider -->