{% block topBar %}
    {# Definimos el menú #}
    {% set opciones = ['inicio', 'servicios'] %}

    <!-- Menú principal -->
    <section class="contain-to-grid sticky">

        <nav class="row top-bar" data-topbar data-options="sticky_on: large">
            <!-- Título en menú si se requiere -->
            <ul class="title-area">
                <!-- Título en menú -->
                <li class="name">
                    <h1 class="">
                        <a href="#" title="Ir a la página de inicio">
                        {% block h1 %}{% endblock %}
                    </a>
                </h1>
            </li>
            <li class="toggle-topbar menu-icon">
                <a href="#" title="Abrir menú">Menú</a>
            </li>
        </ul>
        <article class="top-bar-section">

            <!-- Zona izquierda del menú -->
            <ul class="left">
                <li class="name">              
                    <a href="tel:615091386" title="Llámanos al 615091386">Tel: 615 091 386</a>
                </li>  
            </ul>

            <!-- Zona derecha del menú -->
            <ul class="right">
                {% for opcion in opciones %}
                    {% set url='hdb_'~opcion %}
                    {% if opcion == opcionActiva %}
                        <li class="active">
                    {% else %}
                        <li>
                    {% endif %}
                        <a href="{{path(url)}}" 
                           title="Ir a {{opcion}}">{{opcion}}</a>
                    </li>
                {% endfor %}
            </ul>

        </article>
    </nav>

</section>
<!-- Fin menú principal -->
{% endblock %}