<div class="panel radius sombra collapse" style="max-width:520px;">
    <div class="fb-follow white sombraTexto" 
         data-href="https://www.facebook.com/HTMLDreamBuilder" 
         data-colorscheme="light" 
         data-layout="standard" 
         data-show-faces="true"
         >
    </div>
</div>